:root
{

    --primary-color:#432818;
    --secondary-color:blue;
    --item-color:brown;
    --my-border:2px solid black;
}

h1
{
    color:var(--primary-color);
    border:var(--my-border)
}

h2
{
    color:var(--secondary-color);
}

ul li
{
    color:var(--item-color)
}
