/* li ul 
{
    display: none;
}

li:hover>ul
{
    display: block;
} */

li li
{
    display: none;
}

li:hover>*>li
{
    display:block;
}

input[type="radio"]:checked+label
{
    font-size: 25px;
    color:limegreen;
}
